@import "Variables";
@import "Mixins";

footer {
  @include full-width;
  position: fixed;
  z-index: 9;
  bottom: 0;
  padding: 10px 15px;
  background-color: var(--primary);
  font-size: 15px;
  line-height: 24px;
  color: var(--secondary);
}

.site-footer > div {
  @include flex-justify-content-sb;
}

.site-footer a {
  color: var(--secondary);
}

.site-footer .social-icons {
  text-align: right
}

.social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  border-radius: 100%;
  background-color: #33353d;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.copyright-box {
  display: flex;
  align-items: center;
}
.copyright-text {
  margin: 0
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: var(--white);
  background-color: #29aafe
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.instagram:hover {
  background-color: #ea4c89
}
